#cardssection {display: flex;
    text-align: center;}
    #cardssection img{width: 200px;
    margin-left: 90px;
    margin-right: 90px;
    background-color: #1F4690;
    color:aliceblue;
    
    }